body {
  font-family:"Arial", "Meiryo", sans-serif ;
  font-size: 20px;
  text-align: center;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 40px;
  letter-spacing: 48px;
  text-shadow: 3px 3px 4px midnightblue;
  border-bottom: 3px solid rgb(115, 115, 114);
}

.m-skyblue {
  color: skyblue;
}

.p-pink {
  color: rgb(255, 192, 203);
}

.p-bold {
  font-weight: bold;
}